<p>
  MapIt is a service that maps geographical points to
  administrative areas.  It&rsquo;s useful for anyone who has
  the co-ordinates of a particular point, and needs to find out
  what regions it lies within. It&rsquo;s also great for looking
  up the shapes of all those boundaries.</p>
</p>

<p>
  This particular instance of MapIt contains approximate
  boundaries for postcodes, postcode sectors, postcode districts
  and postcode areas, based on the Voronoi diagram of postcode
  centroids from ONSPD.  You can
  also <a href="https://longair.net/blog/2017/06/20/approximate-postcode-boundaries/">read
  more about the project to make these boundaries</a>.
</p>

<p>
  You can download from GitHub
  the <a href="https://github.com/mysociety/mapit">the source
  for the core Django MapIt application</a>, or
  the <a href="https://github.com/mhl/postcodes-mapit">source code specific
  to this instance (i.e. everything to do with approximate postcode
  boundaries)</a>.
</p>
