Django==1.8.17
django-debug-toolbar==1.8
django-extensions==1.8.1
-e git://github.com/mysociety/mapit.git@master#egg=django-mapit
lxml==3.8.0
matplotlib==2.0.2
numpy==1.13.0
tqdm==4.14.0
gunicorn==19.7.1
